.headerWrapper {
    background-color: #313F54;;
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.separator {
    background: #D8D8D8;
    border: 1px solid #6E6E6E;
    height: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

.clientName {
    font-family: 'Droid Sans';
    font-size: 10px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 14px;
    font-weight: 800;
}

.clientInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userInfo {
    right: 15px;
    float: right;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.companyLogo {
    height: 16px;
    margin-left: 20px;
    color: #FFFFFF;
}
.sqBkt{
    font-family: 'Lato Regular';
    font-size: 16px;
}
.tfs{
    font-weight: bold;
    font-family: 'Lato Bold';
    font-size: 16px;
}
.ai{
    font-family: 'Lato Bold';
    font-size: 12px;
}
